body {
  margin: 0;
  padding: 0;
  background-color: #161625 !important;
  color: #6c757d !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* color pallete.
#161625 background.
#1e1e30 navbar
#6c757d blue
#fe073a red 
#28a645 green
#6c757d grey
*/
.banner {
  min-height: 100vh;
  margin-top: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  min-height: 100vh;
}
.pageview {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.color {
  color: #29d8db !important;
}

.quote {
  background-color: #1e1e30 !important;
  border-radius: 5%;
}
.navbar,
.background {
  background-color: #1e1e30 !important;
}

input {
  height: 60px;
  width: 100%;
  font-size: 26px;
  margin: 2px;
  color: #6c757d;
  padding: 15px;
  padding-left: 10px;
  background-color: #1e1e30;
  outline: none;
  border: none;
  overflow: hidden;
}

button {
  background-color: #29d8db;
  color: #1e1e30;
  outline: none;
  border: none;
  font-size: larger;
  padding: 15px;
  border-radius: 5%;
}
.nav-link,
.navbar-brand {
  font-weight: 600;
  color: #6c757d !important;
}
.nav-link:hover,
.nav-link:focus,
.nav-link.active {
  color: #29d8db !important;
}

.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
}

::-moz-selection {
  color: #1e1e30;
  background: #29d8db;
}

::selection {
  color: #1e1e30;
  background: #29d8db;
}
